/* Fontes */
$fonte-padrao: 'Montserrat', sans-serif;

/* Tamanhos */
$tamanho-titulo: 1.8em;
$tamanho-subtitulo: 1.4em;
$tamanho-texto: 1em;

/* Gaps */
$gap-padrao: 20px;
$gap-lista: calc($gap-padrao/2);
$gap-maior: calc($gap-padrao*2);

/* Cores */
$cor-titulo: #3761d4;
$cor-link: #0f0f41;
$cor-texto: black;

$cor-body: #dff9ff;
$cor-navegacao: #b9d4d6;
$cor-secoes: #d2e8f5;
$cor-cards: #ccdeffb4;
$cor-depoimentos: #fff;
$cor-contato: #bfedff;
$cor-rodape: #678381;

$cor-sombra: #00000050;
$cor-card-decoration: #4A90E2;